body {
  width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  line-height: 1.25;
}

/*user interface */
.top-container {
  background: #98d6eb url("bg-hero-desktop.svg");
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 auto 8rem;
}

.mockups {
  display: block;
  width: 45%;
  height: auto;
  margin: 4rem auto;
}

.top-logo {
  position: absolute;
  left: 4rem;
  top: 20px;
}

.top-text {
  padding: 4rem;
  width: 30%;
  font-size: 1.3rem;
}

.top-button {
  position: absolute;
  right: 2rem;
  top: 20px;
}

/* UI vége */
/* középső rész a képekkel */
.container {
  display: flex;
  flex-direction: column;
}

.triad {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 20rem;
  width: 80%;
  margin: auto;
  box-shadow: 0 0 5px #CCC;
  border-radius: 5px;
  margin-bottom: 3rem;
}

.reversediv {
  flex-direction: row-reverse;
}

.triad-text {
  width: 40%;
  margin-left: 8%;
  font-size: 1.2rem;
}

.reversediv>.triad-text {
  margin-right: 8%;
}

.triad-img {
  display: block;
  height: 80%;
  margin-right: 8%;
}

.reversediv>.triad-img {
  margin-left: 8%;
}

/* középső rész vége */
/*alsó rész kezdete */
.bottom-container {
  background-color: black;
  opacity: 0.85;
  width: 100%;
  margin: 120px auto 50px;
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: 1.2rem;
}

.stand-out {
  background: white;
  box-shadow: 0 0 5px #ccc;
  border-radius: 5px;
  width: 40%;
  margin: auto;
  margin-bottom: -30px;
  padding: 35px 20px;
  text-align: center;
  position: relative;
  bottom: 110px;
  text-transform: capitalize;
  opacity: 1;
}

.stand-out h1 {
  margin-top: 0;
}

.inner-div {
  display: flex;
  margin: 20px auto 45px 50px;
}

.bottom-logo {
  filter: invert(100%) grayscale(100%);
  position: absolute;
  left: 65px;
  top: 115px;
  z-index: 2;
}

.bottom-container span {
  color: white;
  font-size: 0.9rem;
  position: absolute;
  bottom: 10px;
  right: 20px;
}

ul {
  background: black;
  color: white;
  margin-top: 0;
  list-style-type: none;
  position: relative;
  width: 20%;
}

ul a {
  text-decoration: none;
  margin: 10px 20px;
  display: inline-block;
}

.location-logo {
  top: 10px;
}

ul img {
  position: absolute;
  left: 20px;
  width: auto;
}

ul a {
  color: inherit;
}

.fab {
  font-size: 0.7rem;
  padding: 0.5em;
  width: 1.2em;
  margin: 0.3rem;
  color: white;
  border: 2px solid white;
  border-radius: 50%;
  text-align: center;
}

.attribution {
  text-align: center;
}

/* BUTTONS */
.top-button {
  -moz-box-shadow: inset 0 1px 0 0 #ffffff;
  -webkit-box-shadow: inset 0 1px 0 0 #ffffff;
  box-shadow: inset 0 1px 0 0 #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
  background: -moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
  background: -webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
  background: -o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
  background: -ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
  background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9', GradientType=0);
  background-color: #f9f9f9;
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;
  border-radius: 18px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-family: Arial;
  font-size: 13px;
  font-weight: bold;
  padding: 9px 21px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
}

.top-button:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
  background: -moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
  background: -webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
  background: -o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
  background: -ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
  background: linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9', GradientType=0);
  background-color: #e9e9e9;
}

.top-button:active {
  position: relative;
  top: 1px;
}

.mybtn-middle {
  -moz-box-shadow: inset 0px 1px 0px 0px #fbafe3;
  -webkit-box-shadow: inset 0px 1px 0px 0px #fbafe3;
  box-shadow: inset 0px 1px 0px 0px #fbafe3;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ff5bb0), color-stop(1, #ef027d));
  background: -moz-linear-gradient(top, #ff5bb0 5%, #ef027d 100%);
  background: -webkit-linear-gradient(top, #ff5bb0 5%, #ef027d 100%);
  background: -o-linear-gradient(top, #ff5bb0 5%, #ef027d 100%);
  background: -ms-linear-gradient(top, #ff5bb0 5%, #ef027d 100%);
  background: linear-gradient(to bottom, #ff5bb0 5%, #ef027d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bb0', endColorstr='#ef027d', GradientType=0);
  background-color: #ff5bb0;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  border: 1px solid #ee1eb5;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 13px;
  font-weight: bold;
  padding: 11px 42px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #c70067;
}

.mybtn-middle:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ef027d), color-stop(1, #ff5bb0));
  background: -moz-linear-gradient(top, #ef027d 5%, #ff5bb0 100%);
  background: -webkit-linear-gradient(top, #ef027d 5%, #ff5bb0 100%);
  background: -o-linear-gradient(top, #ef027d 5%, #ff5bb0 100%);
  background: -ms-linear-gradient(top, #ef027d 5%, #ff5bb0 100%);
  background: linear-gradient(to bottom, #ef027d 5%, #ff5bb0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ef027d', endColorstr='#ff5bb0', GradientType=0);
  background-color: #ef027d;
}

.mybtn-middle:active {
  position: relative;
  top: 1px;
}

/* BUTTON BOTTOM */
.mybtn-bottom {
  -moz-box-shadow: inset 0px 1px 0px 0px #fbafe3;
  -webkit-box-shadow: inset 0px 1px 0px 0px #fbafe3;
  box-shadow: inset 0px 1px 0px 0px #fbafe3;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ff5bb0), color-stop(1, #ef027d));
  background: -moz-linear-gradient(top, #ff5bb0 5%, #ef027d 100%);
  background: -webkit-linear-gradient(top, #ff5bb0 5%, #ef027d 100%);
  background: -o-linear-gradient(top, #ff5bb0 5%, #ef027d 100%);
  background: -ms-linear-gradient(top, #ff5bb0 5%, #ef027d 100%);
  background: linear-gradient(to bottom, #ff5bb0 5%, #ef027d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bb0', endColorstr='#ef027d', GradientType=0);
  background-color: #ff5bb0;
  -moz-border-radius: 35px;
  -webkit-border-radius: 35px;
  border-radius: 35px;
  border: 1px solid #ee1eb5;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 18px;
  font-weight: bold;
  padding: 14px 42px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #c70067;
}

.mybtn-bottom:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ef027d), color-stop(1, #ff5bb0));
  background: -moz-linear-gradient(top, #ef027d 5%, #ff5bb0 100%);
  background: -webkit-linear-gradient(top, #ef027d 5%, #ff5bb0 100%);
  background: -o-linear-gradient(top, #ef027d 5%, #ff5bb0 100%);
  background: -ms-linear-gradient(top, #ef027d 5%, #ff5bb0 100%);
  background: linear-gradient(to bottom, #ef027d 5%, #ff5bb0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ef027d', endColorstr='#ff5bb0', GradientType=0);
  background-color: #ef027d;
}

.mybtn-bottom:active {
  position: relative;
  top: 1px;
}

@media (max-width: 1200px) {
  h2 {
    font-size: 1.3em;
  }
}

@media (max-width: 850px) {
  .top-container {
    background-image: url("bg-hero-mobile.svg");
    background-size: contain;
    background-repeat: no-repeat;
    flex-wrap: wrap;
    justify-content: center;
  }

  .top-text {
    width: 70%;
    text-align: center;
    margin-top: 3rem;
  }

  .mockups {
    width: 80%;
    padding-top: 0;
    margin: 3rem auto;
  }

  .top-logo {
    width: 15em;
    height: auto;
    left: 5%;
    top: 20px;
  }

  /* középső rész media */
  .triad {
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
    height: auto;
  }

  .triad-text {
    width: 70%;
  }

  .triad-img {
    width: 80%;
    height: auto;
    margin: 2rem auto 2rem auto;
  }

  ul {
    width: 25%;
  }

  .icons {
    display: flex;
    width: 60%;
    margin: 20px auto;
    flex-direction: row;
    justify-content: space-around;
  }

  .fab {
    margin: 8px auto;
  }

  .stand-out {
    bottom: 150px;
    width: 70%;
    transform: scale(0.9);
    font-size: 1rem;
  }

  .bottom-logo {
    top: 80px;
  }

  span {
    right: 35px;
  }
}

@media (max-width: 500px) {
  .top-container {
    margin-bottom: 50px;
  }

  .top-text {
    width: 95%;
    margin: auto;
    padding-bottom: 25px;
  }

  .top-text>h1 {
    font-size: 1.7rem;
    text-align: center;
  }

  .top-text>p {
    font-size: 1.1rem;
    text-align: justify;
  }

  .top-logo {
    max-width: 30%;
    height: auto;
  }

  .top-button {
    top: 10px;
  }

  .mockups {
    margin: 0 auto 2rem;
  }

  .triad {
    margin: 20px auto;
  }

  .triad-text >h1 {
    text-align: center;
    font-size: 1.3em;
  }

  .triad-text {
    text-align: center;
  }

  .bottom-container {
    text-align: initial;
    margin-bottom: 15px;
  }

  .bottom-logo {
    left: 35px;
    top: 160px;
  }

  .stand-out {
    transform: scale(0.7);
    font-size: 1em;
    width: 90%;
    margin-bottom: -70px;
  }

  .inner-div {
    justify-content: center;
    margin-left: 20px;
    flex-direction: column;
  }

  ul {
    width: 90%;
    margin: auto;
  }

  footer {
    font-size: small;
  }
}
